<div class="{{content.config.class}} {{content.config.size}}">
	<label class="{{content.config.class}} desktop tablet" ng-repeat="content in contents">
		<input type="{{content.config.input}}" name="{{content.config.name}}" value="{{content.config.value}}" ng-model="jobFilter">
		{{content.config.value}}
	</label>
	<div class="mobile">
		<a href="">Filter &#9660;</a>
		<label class="{{content.config.class}}" ng-repeat="content in contents">
			<input type="{{content.config.input}}" name="{{content.config.name}}" value="{{content.config.value}}" ng-model="jobfilter">
			{{content.config.value}}
		</label>
	</div>
</div>