social span {
	font-size: 20px;
}
social li {
	margin: 0 10px 0 0;
	float: left;
}
social li a {
	background: #0387ab;
	border-radius: 5px;
	float: left;
	display: inline-block;
}
social li a:hover {
	background: #75bbce;
	color: #fff;
}
social li a img {
	width: auto;
	height: 40px;
	float: left;
}
social a img {
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
social a:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}