footer {
	color: #fff;
	border: none;
	position: relative;
}
footer p a {
	color: #fff;
	font-weight: 700;
}
footer p a:hover {
	color: #fff;
	text-decoration: underline;
}
social a img {
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
social a:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.copyright p {
	font-size: 0.75em;
}
.copyright p a:hover {
	color: #f52;
}
footer li {
	list-style-type: none;
}
footer a {
	color: #fff;
}
footer a:hover,
footer p a:hover {
	color: #f52;
}
footer p a {
	font-weight: 300;
	text-decoration: none;
}
footer p a:hover {
	text-decoration: none;
}
footer nav a {
	font-weight: 400;
	text-transform: uppercase;
}
footer .social li {
	margin: 0 10px 0 0;
	float: left;
}
footer .social li a {
	background: #0387ab;
	border-radius: 5px;
	float: left;
	display: inline-block;
}
footer .social li a:hover {
	background: #75bbce;
	color: #fff;
}
footer .social li a img {
	width: auto;
	height: 40px;
	float: left;
}