footer {
	color: #fff;
	border-top: 1px solid #ccc;
	position: absolute;
}
footer p a {
	color: #fff;
	font-weight: 700;
}
footer p a:hover {
	color: #fff;
	text-decoration: underline;
}
social a img {
	border-radius: 3px;
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
social a:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.copyright p {
	font-size: 0.75em;
}
.copyright p a:hover {
	color: #f52;
}