.full, .whole,
.half,
.third, .twothird, .twothirds,
.quarter, .twoquarter, .twoquarters, .twofourth, .twofourths, .threequarter, .threequarters,
.fifth, .twofifth, .twofifths, .threefifth, .threefifths, .fourfifth, .fourfifths,
.sixth, .twosixth, .twosixths, .threesixth, .threesixths, .foursixth, .foursixths, .fivesixth, .fivesixths,
.seventh, .twoseventh, .twosevenths, .threeseventh, .threesevenths, .fourseventh, .foursevenths, .fiveseventh, .fivesevenths, .sixseventh, .sixsevenths,
.eigth, .twoeigth, .twoeigths, .threeeigth, .threeeigths, .foureigth, .foureigths, .fiveeigth, .fiveeigths, .sixeigth, .sixeigths, .seveneigth, .seveneigths,
.ninth, .twoninth, .twoninths, .threeninth, .threeninths, .fourninth, .fourninths, .fiveninth, .fiveninths, .sixninth, .sixninths, .sevenninth, .sevenninths, .eightninth, .eightninths,
.tenth, .twotenth, .twotenths, .threetenth, .threetenths, .fourtenth, .fourtenths, .fivetenth, .fivetenths, .sixtenth, .sixtenths, .sevententh, .seventenths, .eighttenth, .eighttenths, .ninetenth, .ninetenths {
	margin: 0;
	float: left;
	display: block;
}
.full,
.whole {
	width: 100%;
	width: calc(100% * 1 / 1);
}
.half {
	width: 50%;
	width: calc(100% * 1 / 2);
}
.third {
	width: 33.333%;
	width: calc(100% * 1 / 3);
}
.twothird,
.twothirds {
	width: 66.666%;
	width: calc(100% * 2 / 3);
}
.quarter,
.fourth {
	width: 25%;
	width: calc(100% * 1 / 4);
}
.twoquarter,
.twoquarters,
.twofourth,
.twofourths {
	width: 50%;
	width: calc(100% * 2 / 4);
}
.threequarter,
.threequarters,
.threefourth,
.threefourths {
	width: 75%;
	width: calc(100% * 3 / 4);
}
.fifth {
	width: 20%;
	width: calc(100% * 1 / 5);
}
.twofifth,
.twofifths {
	width: 40%;
	width: calc(100% * 2 / 5);
}
.threefifth,
.threefifths {
	width: 60%;
	width: calc(100% * 3 / 5);
}
.fourfifth,
.fourfifths {
	width: 80%;
	width: calc(100% * 4 / 5);
}
.sixth {
	width: 16.666;
	width: calc(100% * 1 / 6);
}
.twosixth,
.twosixth {
	width: 33.333%;
	width: calc(100% * 2 / 6);
}
.threesixth,
.threesixths {
	width: 50%;
	width: calc(100% * 3 / 6);
}
.foursixth,
.foursixths {
	width: 66.666%;
	width: calc(100% * 4 / 6);
}
.fivesixth,
.fivesixths {
	width: 83.333%;
	width: calc(100% * 5 / 6);
}
.seventh {
	width: 14.285%;
	width: calc(100% * 1 / 7);
}
.twoseventh,
.twosevenths {
	width: 28.571%;
	width: calc(100% * 2 / 7);
}
.threeseventh,
.threesevenths {
	width: 42.857%;
	width: calc(100% * 3 / 7);
}
.fourseventh,
.foursevenths {
	width: 57.142%;
	width: calc(100% * 4 / 7);
}
.fiveseventh,
.fivesevenths {
	width: 71.428%;
	width: calc(100% * 5 / 7);
}
.sixseventh,
.sixsevenths {
	width: 85.714%;
	width: calc(100% * 6 / 7);
}
.eigth {
	width: 12.5%;
	width: calc(100% * 1 / 8);
}
.twoeigth,
.twoeigths {
	width: 25%;
	width: calc(100% * 2 / 8);
}
.threeeigth,
.threeeigths {
	width: 37.5%;
	width: calc(100% * 3 / 8);
}
.foureigth,
.foureigths {
	width: 50%;
	width: calc(100% * 4 / 8);
}
.fiveeigth,
.fiveeigths {
	width: 62.5%;
	width: calc(100% * 5 / 8);
}
.sixeigth,
.sixeigths {
	width: 75%;
	width: calc(100% * 6 / 8);
}
.seveneigth,
.seveneigths {
	width: 87.5%;
	width: calc(100% * 7 / 8);
}
.ninth {
	width: 11.111%;
	width: calc(100% * 1 / 9);
}
.twoninth,
.twoninths {
	width: 22.222%;
	width: calc(100% * 2 / 9);
}
.threeninth,
.threeninths {
	width: 33.333%;
	width: calc(100% * 3 / 9);
}
.fourninth,
.fourninths {
	width: 44.444%;
	width: calc(100% * 4 / 9);
}
.fiveninth,
.fiveninths {
	width: 55.555%;
	width: calc(100% * 5 / 9);
}
.sixninth,
.sixninths {
	width: 66.666%;
	width: calc(100% * 6 / 9);
}
.sevenninth,
.sevenninths {
	width: 77.777;
	width: calc(100% * 7 / 9);
}
.eightninth,
.eightninths {
	width: 88.888%;
	width: calc(100% * 8 / 9);
}
.tenth {
	width: 10%;
	width: calc(100% * 1 / 10);
}
.twotenth,
.twotenths {
	width: 20%;
	width: calc(100% * 2 / 10);	
}
.threetenth,
.threetenths {
	width: 30%;
	width: calc(100% * 3 / 10);
}
.fourtenth,
.fourtenths {
	width: 40%;
	width: calc(100% * 4 / 10);	
}
.fivetenth,
.fivetenths {
	width: 50%;
	width: calc(100% * 5 / 10);
}
.sixtenth,
.sixtenths {
	width: 60%;
	width: calc(100% * 6 / 10);
}
.sevententh,
.seventenths {
	width: 70%;
	width: calc(100% * 7 / 10);
}
.eighttenth,
.eighttenths {
	width: 80%;
	width: calc(100% * 8 / 10);
}
.ninetenth,
.ninetenths {
	width: 90%;
	width: calc(100% * 9 / 10);
}
.tablet,
.mobile {
	display: none;
}
.desktop {
	display: block;
}
@media screen and (max-width: 960px) {
	.desktop,
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
}
@media screen and (max-width: 768px), only screen and (-webkit-device-pixel-ratio: 2) {}
@media screen and (max-width: 640px), only screen and (-webkit-device-pixel-ratio: 2) {}
@media screen and (max-width: 585px), only screen and (-webkit-device-pixel-ratio: 2) {}
@media screen and (max-width: 585px) {
	.full, .whole,
	.half,
	.third, .twothird, .twothirds,
	.quarter, .twoquarter, .twoquarters, .twofourth, .twofourths, .threequarter, .threequarters,
	.fifth, .twofifth, .twofifths, .threefifth, .threefifths, .fourfifth, .fourfifths,
	.sixth, .twosixth, .twosixths, .threesixth, .threesixths, .foursixth, .foursixths, .fivesixth, .fivesixths,
	.seventh, .twoseventh, .twosevenths, .threeseventh, .threesevenths, .fourseventh, .foursevenths, .fiveseventh, .fivesevenths, .sixseventh, .sixsevenths,
	.eigth, .twoeigth, .twoeigths, .threeeigth, .threeeigths, .foureigth, .foureigths, .fiveeigth, .fiveeigths, .sixeigth, .sixeigths, .seveneigth, .seveneigths,
	.ninth, .twoninth, .twoninths, .threeninth, .threeninths, .fourninth, .fourninths, .fiveninth, .fiveninths, .sixninth, .sixninths, .sevenninth, .sevenninths, .eightninth, .eightninths,
	.tenth, .twotenth, .twotenths, .threetenth, .threetenths, .fourtenth, .fourtenths, .fivetenth, .fivetenths, .sixtenth, .sixtenths, .sevententh, .seventenths, .eighttenth, .eighttenths, .ninetenth, .ninetenths {
		width: 100%;
	}
	.desktop,
	.tablet {
		display: none;
	}
	.mobile {
		display: block;
	}
}