/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400);

/* ICONS */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?299t55');
	src:url('../fonts/icomoon.eot?#iefix299t55') format('embedded-opentype'),
		url('../fonts/icomoon.woff?299t55') format('woff'),
		url('../fonts/icomoon.ttf?299t55') format('truetype'),
		url('../fonts/icomoon.svg?299t55#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'aes-client_logos';
	src:url('../fonts/aes-client_logos/icomoon.eot?zdeipc');
	src:url('../fonts/aes-client_logos/icomoon.eot?#iefixzdeipc') format('embedded-opentype'),
		url('../fonts/aes-client_logos/icomoon.woff?zdeipc') format('woff'),
		url('../fonts/aes-client_logos/icomoon.ttf?zdeipc') format('truetype'),
		url('../fonts/aes-client_logos/icomoon.svg?zdeipc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: .9;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="aes-client_logo-"], [class*=" aes-client_logo-"] {
	font-family: 'aes-client_logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-aes_one:before {
	content: "\e600";
}
.icon-hot:before {
	content: "\e601";
}
.icon-cold:before {
	content: "\e602";
}
.icon-thermalshock:before {
	content: "\e603";
}
.icon-humidity:before {
	content: "\e604";
}
.icon-dehumidify:before {
	content: "\e605";
}
.icon-corrosion:before {
	content: "\e606";
}
.icon-interior:before {
	content: "\e607";
}
.icon-exterior:before {
	content: "\e608";
}
.icon-benchtop:before {
	content: "\e609";
}
.icon-floor:before {
	content: "\e60a";
}
.icon-walkin:before {
	content: "\e60b";
}
.icon-call:before {
	content: "\e612";
}
.icon-email:before {
	content: "\e613";
}
.icon-menu:before {
	content: "\e614";
}
.icon-linkedin:before {
	content: "\e615";
}
.icon-arrow-right:before {
	content: "\e610";
}
.icon-arrow-left:before {
	content: "\e611";
}
.icon-devices:before {
	content: "\e60c";
}
.icon-power:before {
	content: "\e60d";
}
.icon-lights:before {
	content: "\e60e";
}
.icon-support:before {
	content: "\e60f";
}
.icon-custom:before {
    content: "\e995";
}
.aes-client_logo-01:before {
	content: "\e600";
}
.aes-client_logo-02:before {
	content: "\e601";
}
.aes-client_logo-03:before {
	content: "\e602";
}
.aes-client_logo-04:before {
	content: "\e603";
}
.aes-client_logo-05:before {
	content: "\e604";
}
.aes-client_logo-06:before {
	content: "\e605";
}
.aes-client_logo-07:before {
	content: "\e606";
}
.aes-client_logo-08:before {
	content: "\e607";
}
.aes-client_logo-09:before {
	content: "\e608";
}
.aes-client_logo-10:before {
	content: "\e609";
}
.aes-client_logo-11:before {
	content: "\e60a";
}
.aes-client_logo-12:before {
	content: "\e60b";
}
.aes-client_logo-13:before {
	content: "\e60c";
}
.aes-client_logo-14:before {
	content: "\e60d";
}
.aes-client_logo-15:before {
	content: "\e60e";
}
.aes-client_logo-16:before {
	content: "\e60f";
}
.aes-client_logo-17:before {
	content: "\e610";
}
.aes-client_logo-18:before {
	content: "\e611";
}
.aes-client_logo-19:before {
	content: "\e612";
}
.aes-client_logo-20:before {
	content: "\e613";
}
.aes-client_logo-21:before {
	content: "\e614";
}
.aes-client_logo-22:before {
	content: "\e615";
}
.aes-client_logo-23:before {
	content: "\e616";
}
.aes-client_logo-24:before {
	content: "\e617";
}
.aes-client_logo-25:before {
	content: "\e618";
}
.aes-client_logo-26:before {
	content: "\e619";
}
.aes-client_logo-27:before {
	content: "\e61a";
}
.aes-client_logo-28:before {
	content: "\e61b";
}
.aes-client_logo-29:before {
	content: "\e61c";
}
.aes-client_logo-30:before {
	content: "\e61d";
}
.aes-client_logo-31:before {
	content: "\e61e";
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: 0 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-down-after:after {
  content: "\f107";
  font-size: 18px;
  margin-left: 9px;
}

/*Hide dots*/
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 65px;
}
.carousel-indicators {
    display: none;
}
.carousel-caption{
 left:35%;
    right:35%;
    border-radius: 10px;
}

/* GENERAL STYLES */
* {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}
body {
	background: rgba(124,177,182,1);
	background: -moz-linear-gradient(top, rgba(34,127,155,1) 0%, rgba(37,97,139,1) 50%, rgba(7,43,78,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,127,155,1)), color-stop(50%, rgba(37,97,139,1)), color-stop(100%, rgba(7,43,78,1)));
	background: -webkit-linear-gradient(top, rgba(34,127,155,1) 0%, rgba(37,97,139,1) 50%, rgba(7,43,78,1) 100%);
	background: -o-linear-gradient(top, rgba(34,127,155,1) 0%, rgba(37,97,139,1) 50%, rgba(7,43,78,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,127,155,1) 0%, rgba(37,97,139,1) 50%, rgba(7,43,78,1) 100%);
	background: linear-gradient(to bottom, rgba(34, 127, 155, 1) 0%, rgba(37,97,139,1) 50%, rgba(7,43,78,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb7936', endColorstr='#072b4e', GradientType=0 );
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4 {}
h1, h2 {
	color: #fff;
	font-weight: 300;
}
p {
	margin: 1.5em 0;
	line-height: 1.5em;
}
a {
	color: #444;
	text-decoration: none;
}
/* unvisited link */
.desktop a:link {
	color: #fff;
	text-decoration: none;
}

/* visited link */
.desktop a:visited {
	color: #fff;
	text-decoration: none;
}

/* mouse over link */
.desktop a:hover {
	color: #fff;
	text-decoration: none;
}

/* selected link */
.desktop a:active {
	color: #fff;
	text-decoration: none;
}

.page_title {
    line-height: 0px;
    text-align: center;
}

.page_body {
    background: #ffffff;
    padding: 15px;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.25);
}

/* HEADER */
header {
	background: rgba(68,68,68,0.8);
    float: left;
    width: 100%;
	z-index: 999;
}
header a {
	float: left;
}
header #logo {
	width: auto;
	height: 70px;
	padding: 20px;
	float: left;
}
header #logo:hover {
	background: #333;
}

.header_rfq{
    float:right;
}

/* Series Page */
.series_filter {
    background: rgb(207, 207, 207);
    padding: 15px;
}

.volume_entry {
    float:left;
    padding: 10px;
}

.volume_scale {
    display: inline-block;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-backdrop {
    bottom: 0;
}
.category_body {
    background: white;
    text-align: center
}

/* NAVIGATION */
nav {}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.bullets {
	list-style-type: disc;
    font-size: 0.85em;
    list-style-position:inside
}
nav ul li {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	margin: 0;
	padding: 0;
}
nav ul li:hover {
	background: #333;
    text-decoration: none;
}
nav ul li a:hover {
    color:white;
    text-decoration: none;
}
nav ul li a {
	color: #fff;
	display: block;
	padding: 25px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
ul li a.icon {
	padding: 20px;
	font-size: 38px;
	line-height: 38px;
}
nav ul li .subnav,
nav ul li .dropdown {
	background: #444;
	height: auto;	
	display: none;
	top: 70px;
	left: 0px;
	box-shadow: 0 10px 0 0 rgba(0,0,0,0.1);
    z-index: 9999;
}
nav ul li .subnav,
nav ul li .subnav li {
	width: 210px;
}
nav ul li .subnav {
	position: absolute;
}
nav ul li .dropdown {
	width: 100%;
	position: fixed;
}
nav ul li .subnav li,
nav ul li .dropdown li {
	height: auto;
	display: table-cell;
}
nav ul li .subnav li {
	float: left;
	vertical-align: middle;
}
nav ul li .dropdown li {
	float: left;
	text-align: center;
	vertical-align: bottom;
}
nav ul li .dropdown span {
	font-size: 4em;
	margin-bottom: 10px;
}
nav.mobile {
	float: right;
}
nav.mobile ul li a .dropdown li {
	display: block;
}
nav.mobile ul li a .dropdown li a {
	text-align: left;
	vertical-align: middle;
}
nav ul li .subnav li a,
nav ul li .dropdown li a,
nav.mobile ul li a .dropdown li a {
	color: rgba(255,255,255,0.8);
	width: 100%;
	padding: 20px 30px;
	display: block;
	font-size: 12px;
	line-height: 1em;
	font-weight: 700;
}
nav ul li .dropdown li a {
	width: 100%;
	text-align: center;
	line-height: 2em;
}
nav ul li .subnav li:hover > a,
nav ul li .dropdown li:hover > a, 
nav.mobile ul li a .dropdown li:hover > a {
	color: #fff;
}
nav ul li .dropdown li a img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 120px;
	margin: 0 auto 20px;
	display: block;
}
nav ul li:hover > .dropdown,
nav ul li:hover > .subnav {
	display: block;
}

main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider {height: 100%;}

.series_lineup {
    float: left;
}
.chamber_selector_body {
	text-align: center;
}

.chamber_selector_body h4 {
	font-size: 2.2em;
	line-height: 1.3em;
}
.units_panel {
    float: right;
}
.series_lineup_container {
    margin: 0;
    display: inline-block;
    overflow: auto;
}
.chamber_card_image {
    max-height: 100px;
    max-width: 105px;
    margin: 5px;
}
/* CATEGORY */
.category_icon {
	height:150px;
}

.standards_box {
    min-height: 220px;
    display: inline-block;
}
.standards_box:hover {
    background: #def;
}

.industries_box {
    min-height: 220px;
    display: inline-block;
}
.industries_box:hover {
    background: #def;
}

/* SECTIONS */
section {
	padding: 15px;
	position: relative;
}

.chamber_nav {
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    z-index: 100;

    background: #444;
    box-shadow: 0 10px 0 0 rgba(0,0,0,0.1);
    text-align: center;

}

.chamber_nav li a {
    color: rgba(255,255,255,0.8);
    width: 100%;
    padding: 20px 30px;
    display: block;
    font-size: 12px;
    line-height: 1em;
    font-weight: 700;
}

.chamber_nav li span {
    font-size: 4em;
    line-height: 1.4em;
}
.series_mainimage_container {
	border-style: ridge;
	border-width: 10px;
	border-color: rgb(56, 114, 148);
	height: 500px;
	float: left;
	width: 20%;
	text-align: center;
	white-space: nowrap;
	background-color: rgba(35, 117, 150, 0.46);
}
.series_mainimage {
	vertical-align: middle;
    height: auto;
	max-height: 100%;
    padding:15px;
	max-width: 100%;
}
.product_details {
    background: #ffffff;
    padding: 0px;
}
.series_tabholder {
	width: 80%;
	float: right;
}

.hero {
	padding-top: 75px;
}
.text {
	color: #444;
}
.reg {
	background: #fff;
}
.reg h1,
.reg h2 {
	color: #444;
	text-shadow: none;
}
.alt {
	background: lightgrey;
}

.support_box {
	min-height: 100px;
	display: inline-block;
}

.alt .support_box:hover {
	background: #def;
}

.box {
	height: 420px;
	display: inline-block;
}
.alt .box:hover {
	background: #def;
}
.box img {
	max-width: 100%;
	max-height: 120px; 
}
.reg p a, .alt p a {
	color: #444;
	font-weight: 700;
}
.reg p a:hover, .alt p a:hover {
	color: #39f;
}
a.socialbutton {
	background: #444;
	color: #eee;
	display: block;
	float: left;
	margin-top: 20px;
}
a.socialbutton:hover {
	background: #39f;
	color: #fff;
}
a.socialbutton img {
	width: 40px;
	float: left;
}
a.socialbutton span {
	margin-right: 10px;
	line-height: 40px;
}

/* FORMS */
input[type=range], input[type=radio] {
	-webkit-appearance: none;
	background: none;
	width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 10px;
	border-radius: 10px;
	cursor: pointer;
}
input[type=range]::-moz-range-track {
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 10px;
	border-radius: 10px;
	cursor: pointer;
}
input[type=range]::-ms-track {
	background: transparent;
	color: transparent;
	width: 100%;
	height: 10px;
	border-radius: 10px;
	cursor: pointer;
	border-color: transparent;
	border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
	background: #ffffff;
	width: 20px;
	height: 20px;
	margin-top: -5px;
	border-radius: 20px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
	background: #ffffff;
	width: 20px;
	height: 20px;
	margin-top: -5px;
	border-radius: 20px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	cursor: pointer;
}
input[type=range]::-ms-thumb {
	background: #ffffff;
	width: 20px;
	height: 20px;
	margin-top: -5px;
	border-radius: 20px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(0,0,0,0.5);
}
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
	background: rgba(0,0,0,0.5);
}

/* SLIDER */
.slide {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 100%;
}
.animate-enter, 
.animate-leave
{
	-webkit-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
	-moz-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
	-ms-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
	-o-transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
	transition: 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}
.animate-enter {
	left: 100%;
}
.animate-enter.animate-enter-active,
.animate-leave {
	left: 0;
}
button.slidenav {
	background: none;
	color: rgba(0,0,0,0.2);
	margin: 0;
	padding: 20px;
	border: none;
	position: fixed;
	display: table-cell;
	vertical-align: middle;
	font-size: 100px;
	line-height: 100px;
	z-index: 998;
}
button.slidenav:hover {
	color: #fff;
	cursor: pointer;
}
button.slidenav:focus {
	outline: none;
}
button#down {
	width: 100%;
	bottom: 0;
}
button#prev,
button#next {
	height: 100%;
	top: 0;
}
button#prev {
	left: 0;
}
button#next {
	right: 0;
}

/* BUTTONS */
.cta {
	background: #eee;
	color: #444;
	margin: 40px 10px 0 0;
	padding: 20px;
	display: block;
	float: left;
	text-transform: uppercase;
	font-weight: 700;
}
a.cta:hover {
	background: #fff;
	color: rgba(51,153,255,1);
	box-shadow: 0 10px 0 0 rgba(0,0,0,0.1);
}
a.cta span {
	margin-right: 10px;
	font-size: 20px;
	line-height: 12px;
	float: left;
}

/* CHAMBER SELECTOR */
.filter section, .product-card, .series-title {
	padding: 5px;
}
.product-feed {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.series-title {
	text-transform: uppercase;
}
.product-card {
	background: #fff;
	border: 1px solid #eee;
	float: left;
    font-size:.9em;
}
.product-card:hover {
	border: 1px solid rgba(51,153,255,1);
}
.product-card a {
	color: #444;
}
.product-card img {
    float:left;
}

/* FILTERS */
.filter {}
.menu {
	display: none;
}
.filter:hover .menu {
	display: block;
}

.aes-one:hover, .aes-one:active,
.hot:active, .hot:hover,
.cold:active, .cold:hover,
.thermalshock:active, .thermalshock:hover,
.humidity:active, .humidity:hover,
.corrosion:active, .corrosion:hover {
	color: #fff;
}
.hot:active, .hot:hover {
	background: #f51;
}
.cold:active, .cold:hover {
	background: #07b;
}
.thermalshock:active, .thermalshock:hover {
	background: #f91;
}
.humidity:active, .humidity:hover {
	background: #0bd;
}
.corrosion:active, .corrosion:hover {
	background: #8c3;
}
.aes-one:active, .aes-one:hover {
	background: #39f;
}

/* CHAMBERS */
a.chambertype {
	color: #fff;
	padding: 80px;
	border: 1px solid #fff;
	text-align: center;
	text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}
a.chambertype:hover {
	background: rgba(51,153,255,0.8);
	text-shadow: none;
}

.temperature_humidity {
    
}

/* PRODUCT DETAIL */
body#productdetail {
	background: url("../images/bg7.jpg");
	background-attachment: fixed;
	background-size: cover;
}
iframe {
	background: #444;
	border: 1px solid #fff;
}
.details {
	width: 100%;
}
.details p {
	width: 100%;
	float: left;
	text-align: center;
	display: block;
}
.section {
	background: #444;
	color: #fff;
	width: 33.33%;
	display: block;
	float: left;
}
.section h4 {
	margin: 0;
	padding: 20px;
	text-align: center;
}
.section:hover {
	background: #333;
}
.detail {
	background: #333;
	color: #fff;
	width: 99.99%;
	padding: 20px;
	float: left;
	display: none;
	position: absolute;
	left: 0;
}
.section:hover > .detail {
	display: block;
}
.detail.default {
	display: block;
}
.section.secondary:hover .detail.default {
	display: none;
}

/* CALLOUT */
.callout {
	background: rgba(51,153,255,0.6);
	color: #fff;
}
.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5,
.callout h6, {
	margin: 0;
}
.callout input,
.callout a {
	background: #eee;
	color: #444;
	padding: 20px 30px;
	margin: 0 10px 0 0;
}
.callout input {
	border: none;
	outline: none;
}
.callout input[type=email] {
	width: calc(100% - 210px);
	float: left;
}
.callout a {
	width: 190px;
	margin: 0 10px 10px 0;
	display: block;
	float: left;
	text-transform: uppercase;
	font-weight: 700;
}
.callout input[type=email]:focus,
.callout input[type=email]:hover,
.callout a:hover {
	background: #fff;
	box-shadow: 0 10px 0 0 rgba(0,0,0,0.1);
}
.callout a:hover {
	color: rgba(51,153,255,1);
}

.form_factor_select {
    display: inline-block;
}
.form_factor_selected {
    background: rgb(207, 207, 207);
}
.feature_tile {
    float:left;
    width: 50%;
    min-height: 350px;
}
.feature_tile_picture {
    padding: 5px;
    float: left;
    width: 30%;
    max-height: 300px;
}
.feature_tile_info {
    padding: 5px;
    min-height: 350px;
    background: linear-gradient(to bottom, rgba(55, 112, 131, 0.9) 0%, rgba(55, 112, 131, 0.7) 70%, rgba(7, 43, 78, 0) 100%);
    text-align: center;
    color:#ffffff;
    font-size: 1.2em;
}


.maintenance_entry {
    float: left;
}
.maintenance_image {
    width: 30%;
	padding: 25px;
}
.maintenance_content {
    width: 70%;
    float: right;
}

.troubleshooting_main_accordion .panel-group {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.constrained_content {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.chambers_cell_image{
	background-color: rgba(35, 117, 150, 0.46);
	color: white;
}
.chambers_table {
	width:100%;
	font-size: 2em;
	border-style: ridge;
	border-width: 10px;
	border-color: rgb(56, 114, 148);
}
.chambers_table th{
	border-style: ridge;
	border-width: 10px;
	border-color: rgb(56, 114, 148);
}
.chambers_table td{
	border-style: ridge;
	border-width: 10px;
	border-color: rgb(56, 114, 148);
}

.chambers_table img {
	height: 200px;
	padding:15px;
}

.form-group.required .control-label:after {
	content:"*";
	color:red;
}

.model_details_tab_content {
	padding: 15px;
	font-size: 1.2em;
}

/* INDUSTRIES */
.tiles {
	margin: 0;
	padding: 0;
}
.tile {
	height: auto;
	margin: 0;
	float: left;
	position: relative;
	list-style-type: none;	
}
.tile img {
	width: 100%;
	height: auto;
	float: left;
}
li .text-box {
	background: rgba(68,68,68,0.8);
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #fff;
	position: absolute;
	top: 0;
	z-index: 888;
	display: none;
}
li:hover .text-box {
	display: block;
}
.industry {
	border: 1px solid #fff;
}
.client img {
	width: 120px;
	padding: 10px;
}

main#automotive {background: url("../images/industries/autolarge.jpg") center;
    height: 345px;}


body#batteries {background: url("../images/industries/iStock_000034846188Large.jpg") center;}
body#consumerproducts {background: url("../images/industries/iStock_000022121645Large.jpg") center;}
body#defenceaerospace {background: url("../images/industries/iStock_000017669556Large.jpg") bottom center;}
body#handheldelectronics {background: url("../images/industries/iStock_000033763378XXXLarge.jpg") center;}
body#medicaldevices {background: url("../images/industries/iStock_000019968480Large.jpg") center;}
body#packaging {background: url("../images/iStock/iStock_000015191658Large.jpg") center;}
body#paintscoatings {background: url("../images/industries/iStock_000021104728Large.jpg") center;}
body#pharmaceuticals {background: url("../images/industries/iStock_000009664050Large.jpg") center;}
body#policingsecurity {background: url("../images/iStock/iStock_000050143436Large.jpg") center;}
body#semiconductor {background: url("../images/industries/iStock_000016358469Medium.jpg") center;}
body#timingfrequency {background: url("../images/industries/iStock_000024476668Large.jpg") center;}

body#contact {background: url("../images/iStock/iStock_000023764769Large.jpg") center;}
body#company {background: url("../images/iStock/iStock_000017530245Large.jpg") center;}
/*body#temperature {background: url("../images/iStock/zoom-12880651-3.jpg") center;}
body#humidity {background: url("../images/backgrounds/humidity.jpg") center;}
body#thermalshock {background: url("../images/backgrounds/thermalshock.jpg") center;}
body#saltspray {background: url("../images/backgrounds/corrosion.jpg") center;}
body#walkin {background: url("../images/backgrounds/walkin.jpg") center;}
body#custom {background: url("../images/iStock/iStock_000003833675Large.jpg") center;}*/
body#chamberselector {background: url("../images/iStock/iStock_000022394545Large.jpg");}
body#dashboard {background: url('../images/backgrounds/aes-one.jpg');}

body#automotive,
body#batteries,
body#consumerproducts,
body#defenceaerospace,
body#handheldelectronics,
body#medicaldevices,
body#packaging,
body#paintscoatings,
body#pharmaceuticals,
body#policingsecurity,
body#semiconductor,
body#timingfrequency,
body#contact,
body#company,
body#temperature,
body#humidity,
body#thermalshock,
body#saltspray,
body#walkin,
body#custom,
body#chamberselector,
body#dashboard,
.series {
	background-size: cover;
}
body#contact,
body#company,
body#temperature,
body#humidity,
body#thermalshock,
body#saltspray,
body#walkin,
body#custom,
body#chamberselector,
body#dashboard,
.series {
	background-attachment: fixed;
}
body.industrypage h1,
body.industrypage h2 {
	color: #ffff;
}
.team {}
.team li {
	list-style-type: none;
	display: inline-block;
	float: left;
}
.team img {
	width: 250px;
	padding: 0 20px 0 0;
}
p.icons {
	font-size: 30px;
	margin: 0;
}
p.icons span:hover {
	color: #39f;
}
.window {
	background: rgba(51,153,255,0.6);
	width: 100%;
	height: auto;
}

/* PARTS */
.partslist {
	padding: 0;
	margin: 0;
}
.partslist li, li.sublink {
	float: left;
	position: relative;
	list-style-type: none;
}
.partslist li {
	width: 100%;
	border-top: 1px solid #eee;
}
.partslist li img {
	max-width: 100%;
	max-height: 250px;
}
.sublink a {
	background: #444;
	color: #fff;
	padding: 10px;
	border: 1px solid #fff;
	display: inline-block;
}
.sublink a:hover {
	background: #39f;
}

/* RETARGET NAV */
.subpages {}
.subpages a {
	background: #bbb;
	color: #fff;
	padding: 20px;
	font-size: 16px;
	text-align: center;
	display: inline-block;
}
.subpages a:hover {
	background: #39f;
}
.subpages img {
	width: 50px;
	height: auto;
	margin: 0 auto 10px;
	display: block;
}
.partslist a img {
	width: 40px;
	height: auto;
	margin: 0 auto 10px;
	display: block;
	float: none;
}

.social_icons {
	width:25px;
}
.social_icons_container {
    float:right;
}
.footer_contact {

}
/* FOOTER */
footer {
	background: #333;
	color: #fff;
	border-top: 1px solid #fff;
    padding: 20px;
    float: left;
    height: 100px;
    width: 100%;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #39f;
}
footer a img {
	width: 40px;
	height: auto;
	float: left;
}
footer a img:hover {
	background: #39f;
}

/* RESPONSIVE */
.full,
.half,
.third,
.twothird,
.quarter,
.threequarter,
.fifth,
.twofifth,
.threefifth,
.fourfifth,
.sixth,
.fivesixth,
.seventh,
.twoseventh,
.threeseventh,
.fourseventh,
.fiveseventh,
.sixseventh,
.tenth {
	margin: 0;
	float: left;
	display: block;
}
.full {width: calc(100% * 1 / 1);}
.half {width: calc(100% * 1 / 2);}
.third {width: calc(100% * 1 / 3);}
.twothird {width: calc(100% * 2 / 3);}
.quarter {width: calc(100% * 1 / 4);}
.threequarter {width: calc(100% * 3 / 4);}
.fifth {width: calc(100% * 1 / 5);}
.twofifth {width: calc(100% * 2 / 5);}
.threefifth {width: calc(100% * 3 / 5);}
.fourfifth {width: calc(100% * 4 / 5);}
.sixth {width: calc(100% * 1 / 6);}
.fivesixth {width: calc(100% * 5 / 6);}
.seventh {width: calc(100% * 1 / 7);}
.twoseventh {width: calc(100% * 2 / 7);}
.threeseventh {width: calc(100% * 3 / 7);}
.fourseventh {width: calc(100% * 4 / 7);}
.fiveseventh {width: calc(100% * 5 / 7);}
.sixseventh {width: calc(100% * 6 / 7);}
.tenth {width: calc(100% * 1 / 10);}

.tablet,
.mobile {
	display: none;
}
.desktop {
	display: block;
}

@media screen and (max-width: 1121px) {
	.desktop,
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
	nav ul li .dropdown {}
	nav ul li .dropdown li {
		width: 100%;
		display: block;
	}
	nav ul li .dropdown li a {
		text-align: left;
		line-height: 60px;
		text-indent: 20px;
	}
	nav ul li .dropdown li a img {
		float: left;
		margin: 0;
		max-height: 60px;
	}
	section {
		padding: 40px;
	}
	button.slidenav {
		padding: 10px;
		font-size: 100px;
		line-height: 100px;
	}
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 585px) {
	.full,
	.half,
	.third, .twothird,
	.quarter, .threequarter,
	.fifth, .twofifth, .threefifth, .fourfifth,
	.sixth, .fivesixth,
	.seventh, .twoseventh, .threeseventh, .fourseventh, .fiveseventh, .sixseventh,
	.tenth {
		width: 100%;
	}
	.desktop,
	.tablet {
		display: none;
	}
	.mobile {
		display: block;
	}
	section,
	.filter section,
	.product-card,
	 .series-title {
		padding: 20px;
	}
	.hero {
		padding-top: 100px;
	}
}


/* ANIMATIONS */
.animate-enter,
.animate-leave
{
	-webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
.animate-enter {
	left: 100%;
}
.animate-enter.animate-enter-active {
	left: 0;
}
.animate-leave {
	left: 0;
}
.animate-leave.animate-leave-active {
	left: -100%;
}

.slide_container {
	height: 100%;
}

/* New Relic Animations - http://www.sitepoint.com/creating-slide-show-plugin-angularjs/ */
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove.ng-hide-remove-active,
.slide.ng-hide-add,
.slide.ng-hide-remove {
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	display: block !important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
	opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

/* SLIDE VIEWER CSS STYLE EXAMPLE - BASIC */
.slide-next,
.slide-previous {
	top: 60px;
	height: 87px;
	width: 52px;
	position: absolute;
	z-index: 100;
	background-position:
	center center;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.slide-next:hover,
.slide-previous:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.slide-next,
.slide-previous {
	-webkit-transition: opacity 0.35s ease-in-out;
	-moz-transition: opacity 0.35s ease-in-out;
	-ms-transition: opacity 0.35s ease-in-out;
	-o-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
.slide-next {
	background-image: url('../img/right-arrow.png');
	right: 5px;
}
.slide-previous {
	background-image: url('../img/left-arrow.png');
	left: 5px;
}

/*ZACH CODE START*/
.testfeatures{
    margin: 2px 0 5px 0;
}
p{
    margin: 2px 0 2px 4px;
}

.systemspecifics{
    margin-bottom: 0px;
}
.custmpics{
    height: 300px; width: 300px;
    margin-right: 25px;
}
.custmpictxt{

}