<div
	id="{{content.config.title}}"
	class="{{content.config.type}} {{content.config.class}} {{content.config.size}}"
	style="background-color:{{content.config.bg.color}};"
	ng-controller="SlideshowController"
>
	<hydra></hydra>
	<button id="prev" class="slidenav" ng-click="prev()">
		<img class="slideshow-icon position-left" src="app/assets/images/icons/icon_arrow_left.png" alt="Previous">
		<span class="icon-arrow_left"></span>
	</button>
	<button id="next" class="slidenav" ng-click="next()">
		<img class="slideshow-icon position-right" src="app/assets/images/icons/icon_arrow_right.png" alt="Next">
		<span class="icon-arrow_right"></span>
	</button>
	<div class="center">
		<button
			ng-show="content.contents.length > 1"
			ng-repeat="content in content.contents"
			ng-click="selectIndex(content.index)"
			>
		</button>
	</div>
	<div class="controls controls-top center full" ng-show="user && configure">
		<a href ng-click="addRow(this, 'top')" class="add-section">+</a>
	</div>
	<div class="controls controls-bottom center full" ng-show="user && configure">
		<a href ng-click="addRow(this, 'bottom')" class="add-section">+</a>
	</div>
</div>