<nav class="desktop full">
	<ul class="wrapper">
		<li ng-repeat="page in sitemap.pages">
			<a href="#/{{page.link}}" ng-class="{active: isActive('/{{page.link}}')}" onload="active: isActive('/home')">{{page.title}}</a>
		</li>
		<li class="call-now right-float" ng-controller="ClientController as client">
			<a href="tel:1-{{client.cta}}">Call Now</a>
		</li>
	</ul>
</nav>
<nav class="tablet full">
	<ul class="wrapper">
		<li ng-repeat="page in sitemap.sitemap.pages">
			<a href="#/{{page.link}}">{{page.title}}</a>
		</li>
		<li class="call-now right-float" ng-controller="ClientController as client">
			<a href="tel:1-{{client.cta}}">Call Now</a>
		</li>
	</ul>
</nav>
<nav class="mobile full">
	<ul class="wrapper">
		<li>
			<a href="">
				<img src="app/assets/images/icons/icon_menu.png" alt="Menu">
			</a>
			<ul class="dropdown full">
				<li ng-repeat="page in sitemap.sitemap.pages">
					<a href="#/{{page.link}}">{{page.title}}</a>
				</li>
			</ul>
		</li>
		<li class="call-now right-float" ng-controller="ClientController as client">
			<a href="tel:1-{{client.cta}}">
				<img src="app/assets/images/icons/icon_phone.png" alt="Call Now!">
			</a>
		</li>
	</ul>
</nav>