nav {}
nav ul {
	padding: 0;
	margin: 0;
}
nav ul.menu {
	width: 100%;
	position: fixed;
	top: 80px;
	left: 0px;
	display: none;
}
nav ul.menu li {
	width: 100%;
	display: block;
}
nav ul.menu li a {}
nav ul.menu li a:hover {
	border: none;
}
nav li {
	line-height: 40px;
	float: left;
	display: inline-block;
	list-style-type: none;
}
nav a {
	color: #ccc;
	height: 80px;
	padding: 20px;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	display: block;
}
nav a:hover,
nav a.active,
nav a:active,
nav a:focus {
	text-decoration: none;
}
nav a:hover {
	color: #f52;
	border-bottom: 4px solid #f52;
}
nav a.active,
nav a:active,
nav a:focus {
	color: #444;
	border-bottom: 4px solid #444;
}
nav a img {
	width: auto;
	height: 40px;
}
nav li .subnav,
nav li .dropdown {
	height: auto;
	display: none;
	top: 80px;
	left: 0px;
}
nav li .subnav {
	position: absolute;
}
nav li .dropdown {
	position: fixed;
}
nav li .dropdown li a {
	text-align: center;
	text-transform: capitalize;
}
nav li .dropdown li a:hover,
nav li .dropdown li a.active,
nav li .dropdown li a:active,
nav li .dropdown li a:focus {
	border: none;
}
nav li .dropdown li img {
	width: 100%;
	max-width: 40px;
	height: auto;
	margin: 0 auto;
}
nav li:hover > ul.menu,
nav li:hover > .dropdown,
nav li:hover > .subnav {
	display: block;
}
.cta-button {
	background: #f52;
	color: #fff;
}