<nav class="desktop full">
	<ul class="wrapper">
		<li ng-repeat="page in sitemap.sitemap.pages">
			<a href="#/{{page.title}}">{{page.title}}</a>
		</li>
	</ul>
</nav>
<nav class="tablet full">
	<ul class="wrapper">
		<li ng-repeat="page in sitemap.sitemap.pages">
			<a href="#/{{page.title}}">{{page.title}}</a>
		</li>
	</ul>
</nav>
<nav class="mobile full">
	<ul class="wrapper">
		<li>
			<a href="">Menu</a>
			<ul class="dropdown full">
				<li ng-repeat="page in sitemap.sitemap.pages">
					<a href="#/{{page.title}}">{{page.title}}</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>